{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <!-- <link rel="stylesheet" href={% static "webapp/output.css" %} /> -->
        {% tailwind_css %}
    </head>
    <body class="w-screen h-screen bg-[#212121] text-white flex flex-col scrollbar-hidden font-custom pb-5 relative items-center justify-center">
        <div class="h-14 w-full flex items-center justify-between px-5 border-b border-gray-500">
            <div class="font-semibold text-lg text-gray-300">Internship Assistant</div>
            <div class="h-10 w-10 rounded-full flex flex-grow-0 bg-[#303030] overflow-hidden items-center justify-center">IA</div>
        </div>
        <!-- for the chatting area -->
        <div id="chattingAreaMain"
             class="flex flex-1 w-[50%] items-center justify-center flex-col h-auto overflow-y-scroll scrollbar-hidden">
            <!-- for the chating part where the chat will be displayed -->
            <div id="chattingarea"
                 class="h-full w-full overflow-y-scroll scrollbar-hidden space-y-3 p-5">
                <!-- <div class="float-right clear-both p-3 bg-[#303030] rounded-xl max-w-[80%]"></div> -->
                <!-- <div class="float-left clear-both p-3 bg-[#303030] rounded-xl"></div> -->
            </div>
        </div>
        <!-- for the input part -->
        <div id="inputMainDiv"
             class="h-auto w-[50%] flex flex-col items-center justify-center max-md:w-[99%]">
            <div id="heading"
                 class="h-14 flex w-full items-center justify-center font-semibold text-3xl max-md:text-2xl">
                What Can I Help You With?
            </div>
            <div class="h-auto w-full rounded-3xl bg-[#303030] p-3 max-w-[48rem]">
                <!-- for the input div -->
                <div>
                    <input id="inputdiv"
                           class="w-full h-auto min-h-12 p-1 bg-inherit outline-none border-none"
                           type="text"
                           placeholder="Get your internship details" />
                </div>
                <!-- for the other details -->
                <div class="h-18 w-full border-none flex items-center justify-end flex-row">
                    <!-- for the summit button -->
                    <div id="SENDBUTTON"
                         class="hidden rounded-full overflow-hidden p-2 items-center justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="24"
                             height="24"
                             viewBox="0 0 24 24"
                             fill="none"
                             class="injected-svg"
                             data-src="https://cdn.hugeicons.com/icons/sent-solid-standard.svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink"
                             role="img"
                             color="#ffffff">
                            <path d="M22.3886 3.50934C22.9207 2.01947 21.4821 0.58092 19.9922 1.11301L2.24451 7.45149C0.477797 8.08246 0.630218 10.6298 2.45959 11.0455L9.59327 12.648L13.3909 8.73607C13.7756 8.3398 14.4087 8.33041 14.8049 8.7151C15.2012 9.09979 15.2106 9.73289 14.8259 10.1292L10.9106 14.1623L12.456 21.042C12.8718 22.8714 15.4191 23.0238 16.0501 21.2571L22.3886 3.50934Z" fill="#ffffff">
                            </path>
                        </svg>
                    </div>
                    <!-- for the audio button -->
                    <div id="AUDIOINPUT"
                         class="rounded-full overflow-hidden p-2 flex items-center justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="24"
                             height="24"
                             viewBox="0 0 24 24"
                             fill="none"
                             class="injected-svg"
                             data-src="https://cdn.hugeicons.com/icons/audio-wave-01-stroke-standard.svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink"
                             role="img"
                             color="#ffffff">
                            <path d="M9 3V21" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M6 7V17" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M12 6V18" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M15 9L15 15" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M18 7L18 17" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M21 11L21 13" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M3 11L3 13" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src={% static "webapp/script.js" %}></script>
</html>
