@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  @font-face {
    font-family: "CustomFont";
    src: url("/JetBrainsMonoNerdFont-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
